*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    
}
#left{
    width: 40%;
    height: 100%;
    position: relative;
    
}
#right{
    width: 60%;
    height: 100%;
    background-color: white;
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: blue;
}

#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#rtopleft{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1560607162-26b0344e6943?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}

#lnav{
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
}
#lnavr{
    display:flex ;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

#lnavr i{
    color: royalblue;
}


#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}
@media(max-width:500px){
    #main{
    flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}